*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    resize: both;
    overflow: auto;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    gap: 5px;
}

/* HEADER SECTION STYLING */

.header{
    /* grid-column: 2; */
    display: flex;
    gap: 15px;
    margin-top: 10px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.leftSection{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 25px;
}
.leftSection input{
    border: 1px solid white;
    border-radius: 20px;
    width: 650px;
    height: 30px;
    background-color: #e5e7eb;
}

.leftSection svg{
    width: 23px;
    height: 23px;
    padding-right: 15px;
    vertical-align: middle;
}
#greeting{
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 600;
    /* padding-bottom: 12px; */
}
#greeting img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit:cover;
    object-position: top;
}

.rightSection{
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-left: 150px;
}
#topCorner a{
    text-decoration: none;
    color: black;
}
#topCorner{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 110px;
}
#topCorner img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit:cover;
    object-position: top;
}
#topCorner svg{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.rightSection ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
#actionButtons {
    padding-top: 21px;
}
.rightSection button{
    background-color: #3882f6;
    width: 100px;
    height: 40px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 20px;
    color: #f9faf8;
}
button:hover{
    cursor: pointer;
}



/* SIDEBAR SECTION STYLING */

.sidebar{
    background-color: #3882f6;
    padding: 18px;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    gap: 60px;
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.sidebar a{
    color: white;
    text-decoration: none;
}
.sidebar svg{
    height: 25px;
    width: 25px;
    
    vertical-align: middle;
    fill: white;
    padding-right: 20px;
}


.navSection{
    display: grid;
    gap: 21px;
}


.settingsSection{
    display: flex;
    flex-direction: column;
    gap: 15px;
}



/* CONTENT SECTION STYLING */

.content{
    background-color:#e5e7eb;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.content h4{
    font-size: 17px;
    font-weight: 900;
    padding-bottom: 10px;
}


/*PROECTS SECTION */

.projectsContainer{
    grid-row: 1 / 3;
    padding-left: 15px;
}


.cardsContainer {
    height: auto;
    display : grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.cardsContainer .card{
    background-color: white;
    border-left: 8px solid orange;
    border-radius: 10px;
}
.card{
    padding: 25px;
}
.card span{
    color: gray;
    font-size: 13px;
    
}
.card p{
    font-weight: 600;
}
#icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    padding-right: 15px;
}
#icons svg{
    width: 23px;
    height: 23px;
}

/*ANNOUNCEMENTS SECTION */

.announcements{
    padding-left: 34px;
}
.announcementsCard {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    /* width: 300px; */
    
}
.announcementsCard hr{
    border-bottom: 1px solid blue;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
}
.announcementsCardItem{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-left: 20px;
    /* width: 260px; */
}
.announcementsCardItem p{
    font-weight: 600;
}
.announcementsCardItem span{
    
    color: gray;
    font-size: 13px;
}

/*TRENDING SECTION */

.trending{
    padding-left: 34px;
}
.trendingCard{
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 320px;
}
.trendingCardItem{
    display: flex;
    gap: 18px;
    padding: 12px;
    padding-left: 25px;
}

.trendingCardItem img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit:cover;
    object-position: top;
}
.trendingCardItem span{
    font-style: italic;
    font-size: 15px;
    color: gray;
}