*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#container{
    resize: both;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    gap: 5px;
    
}

.header{
    background-color: blueviolet;
    grid-column: 2 / 3;
}
.sidebar{
    background-color: skyblue;
    grid-row: 1 / 4 ;

}
.content{
    background-color:cyan;
}