*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#container{
    resize: both;
    overflow: auto;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    gap: 5px;
    
}

/* HEADER SECTION STYLING */

.header{
    
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    color: black;
    width: auto;
}

/* SIDEBAR SECTION STYLING */
.sidebar{
    background-color: #3882f6;
    padding: 18px;
    grid-row: 1 / 4 ;
    display: flex;
    flex-direction: column;
    gap: 45px;
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.sidebar a{
    color: white;
    text-decoration: none;
}
.sidebar svg{
    height: 25px;
    width: 25px;
    position: relative;
    vertical-align: middle;
    fill: white;
    padding-right: 20px;
}

.navSection{
    display: grid;
    gap: 15px;
}


.settingsSection{
    display: flex;
    flex-direction: column;
    gap: 15px;
}



/* CONTENT SECTION STYLING */
.content{
    background-color:#e5e7eb;
}